<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adopt don't shop!</title>
  </head>
  <body>

    <h1>Puppy Name:</h1>
    <h3><%= @puppy.name %> </h3>

    <h1>Puppy Breed:</h1>
    <h3><%= @puppy.breed %> </h3>

    <h1>Puppy Age:</h1>
    <h3><%= @puppy.age %> </h3>

    <a href="/new">Click Here To List A Puppy</a>
    <a href="/">Back to main</a>

  </body>
</html>
