<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adopt don't shop!</title>
  </head>
  <body>

    <h1>Create a new puppy</h1>

    <form method="post" action="/display_puppy" />

      <input type="text" placeholder="Name" name="name" />
      <input type="text" placeholder="Breed" name="breed" />
      <input type="text" placeholder="Age" name="age" />
      <input type="submit" value="submit" />

    </form>

  </body>
</html>
